In [59]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## Selecting & Retrieving Data

we can right an index values in two forms

Lable Index & 
Integer Index

In [16]:
series_obj = Series(np.arange(8), index=['raw 1','raw 2','raw 3','raw 4','raw 5','raw 6','raw 7','raw 8'])
series_obj

raw 1    0
raw 2    1
raw 3    2
raw 4    3
raw 5    4
raw 6    5
raw 7    6
raw 8    7
dtype: int32

In [17]:
series_obj['raw 7']

6

In [18]:
series_obj[[0,7]]

raw 1    0
raw 8    7
dtype: int32

None

In [62]:
np.random.seed(25) ## to get same random in diffrent system
DF_obj = DataFrame(np.random.rand(36).reshape(6,6),
                   index=['raw 1','raw 2','raw 3','raw 4','raw 5','raw 6'],
                   columns=['Col 1','Col 2','Col 3','Col 4','Col 5','Col 6'])

In [63]:
DF_obj

          Col 1     Col 2     Col 3     Col 4     Col 5     Col 6
raw 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
raw 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
raw 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
raw 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
raw 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
raw 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [64]:
DF_obj.loc[['raw 1','raw 2'],['Col 1','Col 2']]

          Col 1     Col 2
raw 1  0.870124  0.582277
raw 2  0.684969  0.437611

## Data Sclicing

In [39]:
series_obj['raw 2':'raw 5']

raw 2    1
raw 3    2
raw 4    3
raw 5    4
dtype: int32

## Comparing with Scalars

In [41]:
DF_obj < .2

       Col 1  Col 2  Col 3  Col 4  Col 5  Col 6
raw 1  False  False  False  False   True  False
raw 2  False  False  False  False  False  False
raw 3   True  False   True  False   True  False
raw 4  False  False  False  False  False  False
raw 5  False  False  False   True  False  False
raw 6  False  False  False  False   True  False

## Filtering with Scalars

In [49]:
print(series_obj)

raw 1    0
raw 2    1
raw 3    2
raw 4    3
raw 5    4
raw 6    5
raw 7    6
raw 8    7
dtype: int32

In [53]:
print(series_obj[series_obj>6])

          Col 1     Col 2     Col 3     Col 4     Col 5     Col 6
raw 1  0.559242  0.745284  0.828346  0.823694       NaN  0.644862
raw 2       NaN  0.524254  0.958092  0.883201       NaN  0.512376
raw 3       NaN  0.641717       NaN  0.766486       NaN       NaN
raw 4  0.679852  0.509213  0.655146  0.602120  0.719055       NaN
raw 5       NaN  0.825139  0.712552       NaN  0.842154       NaN
raw 6       NaN  0.913676  0.547778       NaN       NaN       NaN

In [56]:
print(DF_obj[DF_obj>.2])

          Col 1     Col 2     Col 3     Col 4     Col 5     Col 6
raw 1  0.559242  0.745284  0.828346  0.823694       NaN  0.644862
raw 2  0.309258  0.524254  0.958092  0.883201  0.295432  0.512376
raw 3       NaN  0.641717       NaN  0.766486       NaN  0.331044
raw 4  0.679852  0.509213  0.655146  0.602120  0.719055  0.415219
raw 5  0.396542  0.825139  0.712552       NaN  0.842154  0.440821
raw 6  0.373989  0.913676  0.547778  0.251937       NaN  0.206257

## Setting Values with Scalars

In [57]:
series_obj['raw 1','raw 3','raw 5'] = 8

In [58]:
series_obj

raw 1    8
raw 2    1
raw 3    8
raw 4    3
raw 5    8
raw 6    5
raw 7    6
raw 8    7
dtype: int32